[submodule "CLAM"]
    path = CLAM
    url = https://github.com/by-lin/CLAM.git
[submodule "SmMIL"]
    path = SmMIL
    url = https://github.com/by-lin/SmMIL.git
[submodule "GMIL"]
    path = GMIL
    url = https://github.com/by-lin/GMIL-IT.git
[submodule "MuRCL"]
    path = MuRCL
    url = https://github.com/by-lin/MuRCL.git